black==23.7.0
flake8==6.0.0
ipykernel==6.21.3
mypy==1.1.1
pip-chill==1.0.3
pydantic==1.10.6
pylint==2.17.0
pytest==7.2.2
topography-surface==0.0.1
torchvision==0.15.1
types-setuptools==67.6.0.5
types-tqdm==4.65.0.0
